@font-face {
    font-family: "SairaStencilOne-Regular";
    src: url(../font/SairaStencilOne-Regular.ttf);
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url(../font/OpenSans-Bold.ttf);
}